@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');



/* TIPICAL DEVICE BREAKPOINTS - Sempre pesquisar sobre antes da fazer um site.
--------------------------
Pequenas Telas: até 600px;

Celular: De 600px até 768;

Tablet: de 768 a 992px;

Desktop: de 992 a 1200 px;

Grandes Telas: Acima de 1200px;

*/



* {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
    --cor1: #C5D97E;
    --cor2: #cc9b404d;
    --cor3: #d9bb9679;
    --cor4: #734b3d62;
    --cor5: #F2F2F2;
    --cor6: #89878C;

    --font1: "Sawarabi Mincho", serif;
    --font2: "Old Standard TT", serif;
    --font3: "Glass Antiqua", cursive;
}

body {
    font: normal 17px var(--font1);
    /*
    background-image: url(../imagens/foto2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    */
}

header {
    height: 190px;
    max-width: 650px;
    margin: 0px auto 0px auto;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: #000000;
}

header h1 {
    margin-bottom: 12px;
    padding-top: 20px;
    color: white;
    text-align: center;
}

nav#menu {
    background-color: #444444;
    position: relative;
    margin: auto;
    top: 44%;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

nav#menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

nav#menu ul li {
    list-style-type: none;
    margin: 7px;
}

nav#menu ul li a {
    color: black;
    padding: 6px 5px 4px 5px;
    text-decoration: none;
    background-color: blanchedalmond;
    border-bottom: 3px solid blanchedalmond;
}

nav#menu ul li a:hover {
    background-color: burlywood;
    border-bottom: 3px solid red;
}

main {
    max-width: 340px;
    background-color: var(--cor2);
    margin: auto;
    padding: 12px;

}

main p {
    line-height: 25px;
    margin: 8px auto 20px auto;
    text-align: justify;
    text-indent: 10px;
}

main h2 {
    font-family: var(--font2);
    margin: 0px 15px 15px 15px;
    padding: 10px 6px 10px 6px;
    text-align: center;
}

main > section.box1 > div#foto1 {
    margin: auto;
    position: relative;
    height: 207px;
    width: 310px;
    background-color: #89878C;
}

picture.foto-um {
    position: absolute;
    height: 220px;
}

main > section.box2 > div#foto2 {
    margin: auto;
    position: relative;
    height: 207px;
    width: 310px;
    background-color: #89878C;
}

picture.foto-dois {
    position: absolute;
    height: 220px;
}